.container{
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #ADD8E6;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.wrapper{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-1-1,
.block-1-3,
.block-1-5,
.block-2-1,
.block-2-3,
.block-2-5,
.block-3-1,
.block-3-3,
.block-3-5{
    background-color: #C3C3C3;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.block-1-2,
.block-1-4,
.block-1-6,
.block-2-2,
.block-2-4,
.block-2-6,
.block-3-2,
.block-3-4,
.block-3-6{
    background-color: #f5f5f5;
    height: auto;
}
.block-1-1{
    width: 100%;
  
}
.block-1-3{
    width: 100%;
   
   

}
.block-1-5{
    width: 100%;
 
   
   
}
.block-2-1{
    width: 100%;
  
   
}

.block-2-3{
    width: 100%;
 
   
}

.block-2-5{
    width: 100%;
  
   
}

.block-3-1{
    width: 100%;

  
}

.block-3-3{
    width: 100%;
  

}

.block-3-5{
    width: 100%;
   
  
}




.block-1-2,
.block-1-4,
.block-1-6,
.block-2-2,
.block-2-4,
.block-2-6,
.block-2-2,
.block-2-4,
.block-2-6{
    width: 100%;
    height: auto;
  
}
.textbold{
    font-weight: bold;
    padding-left: 5%;
    padding-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textlorem{
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    padding-bottom: 5%;
    padding-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
img{
    display: block;
    width: 100%;
}